/* header {
  background: linear-gradient(
    to top,
    rgb(255, 255, 255),
    rgba(46, 49, 65, 0.8)
  );
} */

a.navbar-brand {
  color: white !important;
  font-weight: 400;
  letter-spacing: 5px;
}

header div img {
  /* max-height: 50vh; */
  max-width: 75vw;
  max-height: 75vh;
  margin-bottom: 5vh;
  margin-top: 5vh;
}

/* @media (max-width: 992px) {
  .p-5 {
    padding: 3rem;
    padding-bottom: 1rem;
  }

  div.col-lg-6 {
    text-align: center;
  }
} */

a {
  word-break: break-all;
}

footer {
  /* width: 100vw; */
  padding: 0;
  margin: 0;

  height: 700vh;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(2, 0, 36, 1) 20%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 0.21614583333333337) 50%,
    rgba(255, 255, 255, 0.216) 100%
  );
}

footer > div {
  /* background-color: black; */
  padding-top: 620vh;
  display: table-cell;
  vertical-align: middle;
  width: 100vw;
  max-width: 100%;
}

footer > div > p {
  text-align: center;
}
